@charset "UTF-8";

/* classes auxiliares */

   .borda1 {
      border: 1px solid blue;
   }

   .borda2 {
      border: 1px solid red;
   }

body {
   background-color: #DBD9CA;
}

/* header */
   header {
      background-color: #011126;
      display: flex;
      height: 100px;
   }

   .conteudo-header {
      padding: 0px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      width: 100%;
   }

   .conteudo-header img {
      height: 100px;
   }

   .centro {
      /* flex-grow: 1; ou*/
      width: 100%;
      text-align: center;
   }

/* nav */
   .menu {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      background-color: #011C40;
   }

   .menu a {
      color: white;
      width: 100%;
      padding: 15px 0px;
      transition: background-color 0.3s;
   }

   .menu a:hover {
      background-color: rgba(0, 0, 0, 0.589);
   }

/* main */
   main {
      display: flex;
   }

   main .containerArtigos {
      flex: 8;
      margin: 0px 5px;
   }

   main .containerArtigos article {
      padding: 10px;
      background-color: #074973;
      color: white;
      border-radius: 5px;
      margin: 5px 0px;
   }

   main aside {
      flex: 2;
      margin: 5px;
      padding: 10px;
      border-radius: 5px;
      /* background-color: #08678C; */
      background-color: #f90;
   }

/* footer */

   footer {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #000c1b;
      padding: 10px 0px;
   }